/*
HOW TO ADD BERKSHIRE SWASH AND RALEWAY
font-family: 'Berkshire Swash', cursive;
font-family: 'Raleway', sans-serif;
*/

.jumbotron {
  background-color: #7fdbff;
}

.jumbotron h1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 5vw;
  color: #001f3f;
  text-align: center;
}

.jumbotron h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 1vw;
  color: #001f3f;
  text-align: center;
}

.jumbotron h4 a {
  font-family: 'Raleway', sans-serif;
  font-size: 1vw;
  color: #001f3f;
  text-align: center;
}

.jumbotron h4 a:hover {
  font-family: 'Raleway', sans-serif;
  font-size: 1vw;
  color: #001f3f;
  text-align: center;
  font-style: italic;
  text-decoration: none;
}

.main-form {
  padding: 20px 0px 20px 0px;
}

.form-group label {
  font-family: 'Raleway', sans-serif;
}

.btn {
  font-family: 'Raleway', sans-serif;
}

.output {
  padding: 20px 0px 10px 0px;
}
