/*
HOW TO ADD BERKSHIRE SWASH AND RALEWAY
font-family: 'Berkshire Swash', cursive;
font-family: 'Raleway', sans-serif;
*/

/*
ADDING HANDWRITTEN FONTS
*/

@font-face {
  font-family: 'MaxHand1';
  src: url('fonts/MaxHand1.ttf') format('ttf'),
       url('fonts/MaxHand1.woff2') format('woff2'),
       url('fonts/MaxHand1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MaxHand2';
  src: url('fonts/MaxHand3.ttf') format('ttf'),
       url('fonts/MaxHand2.woff2') format('woff2'),
       url('fonts/MaxHand2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MaxHand3';
  src: url('fonts/MaxHand3.ttf') format('ttf'),
       url('fonts/MaxHand3.woff2') format('woff2'),
       url('fonts/MaxHand3.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*
PAGE CSS
*/

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

.jumbotron {
  background-color: #7fdbff;
}

.jumbotron h1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 5vw;
  color: #001f3f;
  text-align: center;
}

.jumbotron h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 1vw;
  color: #001f3f;
  text-align: center;
}

.jumbotron h4 a {
  font-family: 'Raleway', sans-serif;
  font-size: 1vw;
  color: #001f3f;
  text-align: center;
}

.jumbotron h4 a:hover {
  font-family: 'Raleway', sans-serif;
  font-size: 1vw;
  color: #001f3f;
  text-align: center;
  font-style: italic;
  text-decoration: none;
}

.main-form {
  padding: 20px 0px 20px 0px;
}

.form-group label {
  font-family: 'Raleway', sans-serif;
}

.btn {
  font-family: 'Raleway', sans-serif;
}

.output {
  padding: 20px 0px 10px 0px;
  font-size: 2vw;
}
